<nav>
    <ul>
        <li>
            <a href="{{ path('home_page') }}">Homepage</a>
        </li>
        <li>
            <a href="{{ path('app_logout') }}">Logout</a>
        </li>
        <li>
            <a href="{{ path('manager') }}">Admin dashboard</a>
        </li>
    </ul>
</nav>