<nav>
    <ul>
        <li>
            <a href="{{ path('_profiler_home') }}">Homepage</a>
        </li>
        <li>
            <a href="{{ path('app_logout') }}">Logout</a>
        </li>
        <li>
            <a href="{{ path('ticket_index') }}">Admin dashboard</a>
        </li>
    </ul>
</nav>